In [15]:
import sqlite3
import time

In [5]:
# Creating the database
connection = sqlite3.connect('prac.db')

In [10]:
connection.execute(
    '''CREATE TABLE employee(
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name VARCHAR(50),
      place VARCHAR(50)
          ) '''
)
connection.commit()

In [16]:
for i in range(2):
  if i == 0:
    user1 = input("YOU : Enter the name ")
    employee_name = user1
    print(f'BOT  Hi {employee_name} nice to meet you')
  elif i == 1:
    user2 = input("YOU : Enter the place ")
    employee_place = user2
    print(f'BOT {employee_place} is a nice place and wonderful sceneries')
    time.sleep(2)
    print("Thank you for responses")


sql_insert_data = '''
INSERT INTO employee (name, place) VALUES (?, ?)
'''
employee_data = (employee_name, employee_place)
connection.execute(sql_insert_data, employee_data)
connection.commit()

YOU : Enter the name NandhaGopal
BOT  Hi NandhaGopal nice to meet you
YOU : Enter the place Chennai
BOT Chennai is a nice place and wonderful sceneries
Thank you for responses

In [17]:
data = connection.execute('''SELECT * FROM employee ''')
for row in data:
  print(row)

(1, 'Navin Shrivatsan', 'Chennai')
(2, 'NandhaGopal', 'Chennai')